<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{> /include/header }}
</head>
<body>
{{#question}}
<tr>
    <td>{{writer}}</td>
    <td>{{title}}</td>
    <td>{{content}}</td>
</tr>

{{/question}}

{{#loginUser}}
<li><a href="/question/updateForm/{{q_id}}">수정</a></li>
{{/loginUser}}

<form class="answer-write" action="/answer/register/{{q_id}}" method="post">
    답글쓰기:<textarea name="content"></textarea><br>
    <br>
    <!--<input type="hidden" value="{{q_id}}">-->
    <input type="submit" value="확인">
</form>
<br>
<br>
<div class="answerList">

</div>

</body>
</html>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
    $(".answer-write input[type=submit]").click(addAnswer);

    function addAnswer(e) {
        console.log("click me");
        e.preventDefault();

        var queryString = $(".answer-write").serialize();
        console.log("query: "+queryString);

        var url = $(".answer-write").attr("action");
        console.log("url: "+url);
        $.ajax({
            type : 'post',
            url : url,
            data : queryString,
            dataType : 'json',
            error : onError,
            success : onSuccess});
    }
    
    function onError() {
        
    }
    function onSuccess(data, status) {
        console.log(data);
        var answerTemplate = $("#answerTemplate").html();
        var template = answerTemplate.format(data.writer.userId, data.content,'20170421',data.id, data.id);
        $(".answerList").append(template);
    }

    String.prototype.format = function() {
        var args = arguments;
        return this.replace(/{(\d+)}/g, function(match, number) {
            return typeof args[number] != 'undefined'
                ? args[number]
                : match
                ;
        });
    };
</script>

<script type="text/template" id="answerTemplate">
    <article class="article">
        <div class="article-header">
            <div class="article-header-thumb">
                <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
            </div>
            <div class="article-header-text">
                <a href="#" class="article-author-name">{0}</a>
                <div class="article-header-time">{1}</div>
            </div>
        </div>
        <div class="article-doc comment-doc">
            {2}
        </div>
        <div class="article-util">
            <ul class="article-util-list">
                <li>
                    <a class="link-modify-article" href="/api/qna/updateAnswer/{3}">수정</a>
                </li>
                <li>
                    <form class="delete-answer-form" action="/api/questions/{3}/answers/{4}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete-answer-button">삭제</button>
                    </form>
                </li>
            </ul>
        </div>
    </article>
</script>