<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{> /include/header }}
</head>
<body>
{{#question}}
<tr>
    <td>{{writer}}</td>
    <td>{{title}}</td>
    <td>{{content}}</td>
</tr>



{{#loginUser}}
<li><a href="/question/updateForm/{{q_id}}">수정</a></li>
{{/loginUser}}

<form class="answer-write" action="/answer/register/{{q_id}}" method="post">
    답글쓰기:<textarea name="content"></textarea><br>
    <br>
    <!--<input type="hidden" value="{{q_id}}">-->
    <input type="submit" value="확인">
</form>
<br>
<br>
<div class="answerList">
    {{#answers}}
    <article>
        <div>
            <div>
                <div>답변자: {{writer.userId}}</div>
                <div>내용: {{content}}</div>
            </div>
        </div>
        <div>
            <ul>
                <li>
                    <a href ="/question/updateAnswer/{{a_id}}">수정</a>
                </li>
                <li>
                    <a class="delete-article" href ="/question/deleteAnswer/{{a_id}}">삭제</a>
                </li>
            </ul>
        </div>
    </article>
    {{/answers}}
</div>
{{/question}}
</body>
</html>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
    $(".answer-write input[type=submit]").click(addAnswer);
    $("a.delete-article").click(deleteAnswer);

    function deleteAnswer(e) {
        e.preventDefault();

        var url = $(this).attr("href");
        console.log("url:"+url);
    }

    function addAnswer(e) {
        console.log("click me");
        e.preventDefault();

        var queryString = $(".answer-write").serialize();
        console.log("query: "+queryString);

        var url = $(".answer-write").attr("action");
        console.log("url: "+url);
        $.ajax({
            type : 'post',
            url : url,
            data : queryString,
            dataType : 'json',
            error : onError,
            success : onSuccess});
    }
    
    function onError() {
        
    }
    function onSuccess(data, status) {
        console.log(data);
        var answerTemplate = $("#answerTemplate").html();
        var template = answerTemplate.format(data.writer.userId, data.content,data.id);
        $(".answerList").append(template);
        $("textarea[name=content]").val("");
    }

    String.prototype.format = function() {
        var args = arguments;
        return this.replace(/{(\d+)}/g, function(match, number) {
            return typeof args[number] != 'undefined'
                ? args[number]
                : match
                ;
        });
    };
</script>

<script type="text/template" id="answerTemplate">
    <article>
        <div>
            <div>
                <div>답변자: {0}</div>
                <div>내용: {1}</div>
            </div>
        </div>
        <div>
            <ul>
                <li>
                    <a href ="/api/qna/updateAnswer/{2}">수정</a>
                </li>
                <li>
                    <a class="delete-article" href ="/question/deleteAnswer/{2}">삭제</a>
                </li>
            </ul>
        </div>
    </article>
</script>